<h1>Todo List App</h1>

<%= link_to "New todo", new_todo_path %>

<div>
  <% @todos.each do |todo| %>
    <p>
      title: <%= todo.title %> <br>
      details: <%= todo.details %>
    </p>
  <% end %>
</div>
